body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.hero {
    background-color: #003366;
    color: #fff;
    width: 100%;
    text-align: center;
    height: 500px;
    align-items: center;
    padding: 20px;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: 600;
}

.hero .btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    background-color: #007bff;
    border: none;
    border-radius: 35px;
    text-decoration: none;
}

.hero .btn:hover {
    background-color: #0056b3;
}

.hero .circle {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hero .circle .arrow-down {
    font-size: 24px;
    color: #fff;
}

.section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section p {
    font-size: 16px;
    line-height: 1.6;
}

.job-listing {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.job-listing h4 {
    font-size: 24px;
    margin: 0;
    color: rgb(232, 134, 37);
    cursor: pointer;
}

.job-listing h5 {
    font-size: 18px;
    color: #777;
}

.container-split {
    display: flex;
    justify-content: space-between;
}

.contact-form, .map {
    width: 48%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h3, .map h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}
