.password-strength {
    display: flex;
    margin-bottom: 10px;
}

.password-strength div {
    height: 5px;
    flex: 1;
}

.password-strength .weak {
    background-color: gray;
}

.password-strength .medium {
    background-color: gray;
}

.password-strength .strong {
    background-color: gray;
}
