
.container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007BFF; 
    border-color: #007BFF; 
}

.btn-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}

.password-strength {
    display: flex;
    margin-top: 5px; 
}

.password-strength div {
    height: 10px;
    flex: 1;
    margin: 0 2px;
    border-radius: 2px;
}

.weak {
    background-color: #FF4D4D; 
}

.medium {
    background-color: #FFA500; 
}

.strong {
    background-color: #32CD32; 
}
