body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Setting the minimum height to 100% of the viewport height */
    margin: 0;
    flex-direction: column;
}


.signup-container {
    background-color: #fff;
    padding: 20px;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px; 
    padding-top: 100px;
    padding-bottom: 20px;
}
div p{
    text-align: center;
}

.signup-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.0rem;
    padding-top: 20px;
}


/* Styles for the Google signup button */
.signup-container .google-signup {
    display: block;
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.google-signup-button{
text-align: center;
}

.signup-container p a {
    color: #4285f4;
}

/* Styling for text, email, and password input fields inside the signup container */
.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-container progress {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

/* Styles for the submit button inside the signup container */
.signup-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #F16A43;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Changing cursor to pointer on hover */
}

/* Hover styles for the submit button inside the signup container */
.signup-container input[type="submit"]:hover {
    background-color: #F16A43;
}

.signup-container #strength-label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

 header {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

footer{
    width: 100%;
}
header {
    top: 0;
}

/* footer {
    bottom: 0;
}  */
main {
    flex: 1; /* Allowing the main content to grow and shrink as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px; 
    margin-bottom: 20px; 
}

