body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: white;
    margin: 20px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.service-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-card h2 {
    font-size: 1.25em;
    margin: 0;
    padding: 10px 0;
}

/* CSS for Footer starts*/

footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
footer div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
footer div a{
    text-decoration: none; 
    padding: 2px;
    color: inherit;
    transition: color 0.3s;
}
footer div a:hover {
    color: #F16A43; 
}
footer div p {
    font-size: 18px;
}
footer .social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
footer .social-links p {
    margin-right: 10px;
}
footer .social-links a {
    margin-right: 10px;
    color: inherit;
}
footer .social-links a i {
    font-size: 1.5rem; 
}

footer .social-links a:hover {
    color: orange; 
}

@media (max-width: 768px) {
    footer {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* CSS for Footer ends*/

/* CSS for Header starts*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
}

.logo a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links {
    display: flex;
}

.links a:hover {
    color: #F16A43; 
}
.links a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.search {
    flex: 1;
    text-align: center;
}

.search input {
    padding: 10px;
    width: 300px;
    height: 30px;
    margin-right: 10px;
}
.menu-toggle {
    display: none;
}

.logo img{
width: 80px;
}

@media (max-width: 1024px) {
    .links, .search {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}
/* CSS for Header ends*/
