body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.navbar-brand{
    color:rgba(255, 255, 255, 0.75);
}
.welcome{
    color:rgba(255, 255, 255, 0.75);
}
main {
    /* padding: 20px; */
    background-color: white;
    /* margin: 20px; */
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 50px;
    padding: 0 10%;
}

.service-card {
    position: relative;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.service-icon {
    width: 110%;
    height: 350px;
    display: block;
}

.service-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.8rem;
    margin: 10px 0;
}

.heading {
    font-weight: bold;
    text-align: center;
    padding: 3%;
    font-size: 2.0rem;
}

.background-image-container {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 50px 0;
    height: 500px;
}
.background-image-container h1{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    padding: 5%;
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
}
@media (max-width: 1024px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .service-icon {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .services-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .service-icon {
        width: 100%;
        height: auto;
    }
}

/* CSS for Footer starts */
footer {
    background-color: black;
    color:rgba(255, 255, 255, 0.75);
    padding: 20px 10%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

footer div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

footer div a {
    text-decoration: none;
    padding: 2px;
    color: inherit;
    transition: color 0.3s;
}

footer div a:hover {
    color: #F16A43;
}

footer div p {
    font-size: 18px;
}

footer .social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

footer .social-links p {
    margin-right: 10px;
}

footer .social-links a {
    margin-right: 10px;
    color: inherit;
}

footer .social-links a i {
    font-size: 1.5rem;
}

footer .social-links a:hover {
    color: orange;
}

.bold {
    font-weight: bold;
}

.rights {
    text-align: center;
    grid-column: 1 / span 3;
}

@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
    }

    footer div {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .rights {
        text-align: center;
        grid-column: 1 / span 1;
    }
}
/* CSS for Footer ends */

/* CSS for Header starts */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
}

.logo a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links {
    display: flex;
}

.links a:hover {
    color: #F16A43;
}

.links a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.search {
    flex: 1;
    text-align: center;
}

.search input {
    padding: 10px;
    width: 300px;
    height: 30px;
    margin-right: 10px;
}

.menu-toggle {
    display: none;
}

.logo img {
    width: 80px;
}

@media (max-width: 1300px) {
    .links,
    .search {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}
/* CSS for Header ends */

/* CSS for Terms and Conditions starts */
.terms_conditions {
    padding: 5%;
}

.terms_conditions h1 {
    text-align: center;
    font-weight: bold;
}

.terms_conditions h3 {
    text-align: left;
    font-weight: bold;
    padding: 0%;
}

.terms_conditions p,
.terms_conditions ul li {
    text-align: left;
    font-size: large;
    font-family: math;
}
/* CSS for Terms and Conditions ends */

/* CSS for Privacy Policy starts */
.privacy_policy_container {
    padding: 5%;
}

.privacy_policy_container h1 {
    text-align: center;
    font-weight: bold;
}

.privacy_policy_container h3 {
    text-align: left;
    font-weight: bold;
    padding: 0%;
}

.privacy_policy_container h5 {
    text-align: left;
    font-weight: bold;
    padding: 0%;
}

.privacy_policy_container p,
.privacy_policy_container ul li {
    text-align: left;
    list-style: none;
}

.privacy_policy_container ul li p,
.privacy_policy_container p {
    text-align: left;
    font-size: larger;
}
/* CSS for Privacy Policy ends */

.why-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 5%;
    background-color: aliceblue;
}

/* h3 {
    padding: 5%;
    text-align: center;
} */

.left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-line img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.right-container {
    flex: 1;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whyus_card {
    text-align: center;
    background-color: #F5F9FF;
    height: auto;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.whyus_card img {
    width: auto;
    height: 280px;
    margin-bottom: 20px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .why-us {
        flex-direction: column;
        align-items: center;
    }

    .left-container,
    .right-container {
        margin-right: 0;
        padding-left: 0;
        align-items: center;
        text-align: center;
    }

    .icon-line {
        justify-content: center;
    }
}

/* Carousel styles */
.carousel {
    position: relative;
    width: 80%;
    margin: 50px auto;
}

.carousel-images {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-image {
    width: 100%;
    height: 500px;
    display: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: opacity 1s ease-in-out;
}

.carousel-image.active {
    display: block;
    opacity: 1;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* CSS for Billing starts */
.billing-page-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.billing-info {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-right: 20px;
}

.billing-form-container {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.billing-form-container p {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.billing-form-container input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.billing-form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    height: 45px;
}

.fo {
    margin-left: 20px;
    margin-right: 20px;
}
/* CSS for Billing ends */

/* CSS for Contact Us starts */
.contact-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.contact-info {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-right: 20px;
}

.contact-form-container {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.contact-info h2,
.contact-form-container h1 {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-social-media a {
    margin-right: 10px;
}

.contact-social-media img {
    width: 80px;
    height: 40px;
}

.contact-form-container p {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="textarea"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.contact-form-container input[type="submit"] {
    background-color: #F16A43;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: red;
}

.social-links-contact-us a {
    font-size: 30px;
    margin-right: 10px;
    color: black;
}

@media (max-width: 768px) {
    .contact-page-container {
        flex-direction: column;
    }
}
/* CSS for Contact Us ends */

/* Payment Css */
.payment-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.payment-buttons div {
    flex: 1 1 200px;
}
/* Payment Css ends */
/* CSS for About Us starts */
.card{
    border: 0px;
}
p{
    font-family: math;
    font-size: 1.2rem;
}
/* CSS for About Us ends */