/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Container for subcategories */
.subcategories {
    margin-bottom: 40px;
    padding: 20px;
}

.subcategories h3 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.subcategory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align cards */
}

.subcategory-card {
    width: 90%; /* Full width of the container */
    margin-bottom: 20px; /* Spacing between cards */
    padding: 20px; /* Padding for each card */
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    align-items: center; /* Align items vertically */
    max-width: 1200px;
}

.subcategory-card:hover {
    transform: translateY(-5px);
}

.subcategory-card img {
    max-width: 80px; /* Adjust icon size */
    height: auto;
    margin-right: 20px; /* Spacing between icon and text */
}

.subcategory-info {
    flex: 1; /* Take remaining space */
    display: flex;
    flex-direction: column;
}

.subcategory-card h2 {
    font-size: 1.8rem;
    color: #333333;
    margin: 0;
    text-align: left; /* Left align text */
}

.subcategory-card p {
    color: #666666;
    margin-top: 10px;
}

.subcategory-card a {
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    align-self: flex-end;
}

.subcategory-card a:hover {
    text-decoration: underline;
}

/* Services List */
.services-list {
    display: none;
    width: 100%;
    margin-top: 20px;
}

.show-services {
    display: block;
}

/* Service card styles */
.sub_service-card {
    background-color: #F5F9FF;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub_service-card:hover {
    transform: translateY(-5px);
}

.sub_service-card h4 {
    font-size: 1.2rem;
    margin: 0;
}

.sub_service-card p {
    color: #666666;
    margin: 5px 0;
}

.service-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-info form {
    display: flex;
    align-items: center;
}

.service-info input[type="number"] {
    width: 60px;
    margin-right: 10px;
}

.service-info button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.service-info button:hover {
    background-color: #0056b3;
}

.service-info .service-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #007bff;
    margin-left: 20px;
}
