/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Container for subcategories */
.subcategories {
    margin-bottom: 40px;
}

.subcategory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align cards */
}


.subcategory-card {
    width: 100%; /* Full width of the container */
    margin-bottom: 20px; /* Spacing between cards */
    padding: 20px; /* Padding for each card */
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    align-items: center; /* Align items vertically */
}

.subcategory-card img {
    max-width: 80px; /* Adjust icon size */
    height: auto;
    margin-right: 10px; /* Spacing between icon and text */
}

.subcategory-card h2 {
    flex: 1; /* Take remaining space */
    font-size: 1.5rem;
    color: #333333;
    margin: 0;
    text-align: center; /* Center align text */
}

.subcategory-card a {
    margin-left: auto; /* Push "View Services" link to the right */
    color: #007bff;
    text-decoration: none;
}

.view-services {
    margin-top: auto; /* Pushes "View Services" link to the bottom */
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.view-services:hover {
    text-decoration: underline;
}

/* Services List */
.services-list {
    display: none;
    width: 100%;
    margin-top: 10px;
}

.show-services {
    display: block;
}

/* Service card styles */
.sub_service-card {
    background-color: #F5F9FF;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

.sub_service-card:hover {
    transform: translateY(-5px);
}

.sub_service-card h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.sub_service-card p {
    color: #666666;
    margin-bottom: 10px;
}

.service-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-info form {
    flex: 1; /* Take remaining space */
}

.service-info .service-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #007bff;
}
